In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Bitcoin_19_05_2012-18_05_2013_historical_data_coinmarketcap.csv', sep=';')
df.head()

,timeOpen,timeClose,timeHigh,timeLow,name,open,high,low,close,volume,marketCap,timestamp
0,2025-04-21T00:00:00.000Z,2025-04-27T23:59:59.999Z,2025-04-25T14:57:00.000Z,2025-04-21T00:05:00.000Z,2781,85171.542751,95768.392467,85143.837709,93754.846738,2.471164e+11,1.861696e+12,2025-04-27T23:59:59.999Z
1,2025-04-14T00:00:00.000Z,2025-04-20T23:59:59.999Z,2025-04-15T13:53:00.000Z,2025-04-16T01:01:00.000Z,2781,83694.523273,86429.348479,83100.617930,85174.301629,1.556775e+11,1.691000e+12,2025-04-20T23:59:59.999Z
2,2025-04-07T00:00:00.000Z,2025-04-13T23:59:59.999Z,2025-04-13T01:32:00.000Z,2025-04-07T07:05:00.000Z,2781,78221.333134,86015.185849,74436.679101,83684.979028,3.632205e+11,1.661414e+12,2025-04-13T23:59:59.999Z
3,2025-03-31T00:00:00.000Z,2025-04-06T23:59:59.999Z,2025-04-02T20:18:00.000Z,2025-04-06T23:22:00.000Z,2781,82336.059346,88466.956959,77097.740902,78214.480817,2.374497e+11,1.552514e+12,2025-04-06T23:59:59.999Z
4,2025-03-24T00:00:00.000Z,2025-03-30T23:59:59.999Z,2025-03-24T14:22:00.000Z,2025-03-30T22:10:00.000Z,2781,86070.928111,88758.729637,81573.247066,82334.522697,1.816377e+11,1.633898e+12,2025-03-30T23:59:59.999Z

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627 entries, 0 to 626
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timeOpen   627 non-null    object
 1   timeClose  627 non-null    object
 2   timeHigh   627 non-null    object
 3   timeLow    627 non-null    object
 4   name       627 non-null    int64
 5   open       627 non-null    float64
 6   high       627 non-null    float64
 7   low        627 non-null    float64
 8   close      627 non-null    float64
 9   volume     627 non-null    float64
 10  marketCap  627 non-null    float64
 11  timestamp  627 non-null    object
dtypes: float64(6), int64(1), object(5)
memory usage: 58.9+ KB